<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042922282859-2apu8fasbmtirt86g2lg6ldvil8f5erc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042922282859-2apu8fasbmtirt86g2lg6ldvil8f5erc</string>
	<key>API_KEY</key>
	<string>AIzaSyCQBl13sfoggJzFXwRqWBOuLuGwCmNbCCE</string>
	<key>GCM_SENDER_ID</key>
	<string>1042922282859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deshawashington.FriendsChatApp</string>
	<key>PROJECT_ID</key>
	<string>friendschatapp-4ee35</string>
	<key>STORAGE_BUCKET</key>
	<string>friendschatapp-4ee35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042922282859:ios:10eaa3b7cd538889ea762e</string>
</dict>
</plist>